@font-face {
  font-family: 'Chocolate Drink';
  src: local('Chocolate Drink'), url(./assets/fonts/Chocolate_Drink.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fdeaf3 !important;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.navbar {
  background-color: #9C0D38;
  padding: 0.25rem 1rem !important;
}

.navbar-brand img {
  margin-top: 5px;
  margin-right: 5px;
}

.navbar-brand, .footer-logo {
  font-family: 'Chocolate Drink';
}

.navbar-brand {
  font-size: 2rem !important;
}

.footer-logo {
  font-size: 5em;
}

.footer-logo img {
  width: 30%;
  height: auto;
}

.footer {
  background-color: #282c34;
  color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.price {
  color: #1B998B;
}

#restaurantList {
  height: 90vh;
  overflow-y: auto;
  margin: 0.5em 0;
  padding-bottom: 0.5em;
}

.rest-list-item {
  margin-bottom: 0.5em;
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  overflow: hidden;
}

.rest-list-item .img-div {
  width: 150px;
  height: 150px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.rest-list-item .rate-price {
  position: absolute;
  bottom: 0.5em;
  left: 0;
  right: 0;
}

.rest-list-item .media-body {
  position: relative;
  padding: 0.75em;
  height: 150px;
}

.rest-list-item .media-body .row {
  margin: 0;
}

.rest-list-item .media-body p {
  font-size: 0.8em;
}

.rating {
  color: #9C0D38;
}

/* width */

#restaurantList::-webkit-scrollbar {
  width: 5px;
}

/* Track */

#restaurantList::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 15px;
}

/* Handle */

#restaurantList::-webkit-scrollbar-thumb {
  background: #aaaaaa;
  border-radius: 15px;
}

/* Handle on hover */

#restaurantList::-webkit-scrollbar-thumb:hover {
  background: #9C0D38;
}