@font-face {
  font-family: 'Chocolate Drink';
  src: local('Chocolate Drink'), url(./assets/fonts/Chocolate_Drink.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fdeaf3 !important;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* NAVBAR STYLE */

.navbar {
  background-color: #9C0D38;
  padding: 0.25rem 1rem !important;
}

.navbar-brand img {
  margin-top: 5px;
  margin-right: 5px;
}

.navbar-brand, .footer-logo {
  font-family: 'Chocolate Drink';
}

.navbar-brand {
  font-size: 2rem !important;
}

.navbar-dark .navbar-text {
  color: rgba(255, 255, 255, .75) !important;
}

.navbar-dark .navbar-toggler {
  border-color: white !important;
  color: white !important;
}

/* FOOTER STYLE */

.footer-logo {
  font-size: 5em;
}

.footer-logo h1 {
  font-weight: 300 !important;
}

.footer-logo img {
  width: 30%;
  height: auto;
}

.footer {
  background-color: #282c34;
  color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* FORM CONTROL STYLE */

.navbar .navbar-collapse .form-inline .form-control {
  border-color: transparent;
}

.form-control:focus {
  border-color: #1B998B !important;
  box-shadow: 0 0 0 0.2rem rgba(27, 153, 139, 0.25) !important;
}

/* LIST ITEM STYLE */

#restaurantList {
  height: 90vh;
  overflow-y: auto;
  margin: 0.5em 0;
  padding-bottom: 0.5em;
}

.rest-list-item {
  margin-bottom: 0.5em;
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  overflow: hidden;
}

.rest-list-item .img-div {
  width: 150px;
  min-height: 150px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.rest-list-item .rate-price {
  position: absolute;
  bottom: 0.5em;
  left: 0;
  right: 0;
}

.rest-list-item .media-body {
  position: relative;
  padding: 0.75em;
  min-height: 150px;
}

.rest-list-item .media-body .row {
  margin: 0;
}

.rest-list-item .media-body p {
  font-size: 0.8em;
}

.rating {
  color: #9C0D38;
}

.price {
  color: #1B998B;
}

.clickable {
  cursor: pointer !important;
}

@media only screen and (max-width: 767px) {
  .navbar {
    padding-bottom: 0.5em !important;
  }
  .rating, .price {
    font-size: 0.8em;
  }
  .rest-list-item .rating {
    padding: 0 !important;
    padding-left: 10px !important;
  }
  .rest-list-item .price {
    padding: 0 !important;
    padding-right: 10px !important;
  }
  #restDetails #ratingDiv {
    padding-right: 0;
  }
  #restDetails #priceDiv {
    padding-left: 0;
  }
}

/* SCROLL BAR STYLE */

#restaurantList::-webkit-scrollbar, #restScrollDetails::-webkit-scrollbar {
  width: 5px;
}

#restaurantList::-webkit-scrollbar-track, #restScrollDetails::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 15px;
}

#restaurantList::-webkit-scrollbar-thumb, #restScrollDetails::-webkit-scrollbar-thumb {
  background: #aaaaaa;
  border-radius: 15px;
}

#restaurantList::-webkit-scrollbar-thumb:hover, #restScrollDetails::-webkit-scrollbar-thumb:hover {
  background: #9C0D38;
}

/* TAB STYLE */

#bottomTabs.nav-tabs .nav-item {
  width: 50%;
}

#bottomTabs .nav-item .btn {
  border-radius: 0px !important;
  width: 100%;
  padding: 0.5em;
  background-color: #9C0D38;
  color: white;
}

#bottomTabs .nav-item .btn.active {
  background-color: #EC368D;
}

#bottomTabs {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 100;
}

#bottomTabs .nav-item .btn.focus, #bottomTabs .nav-item .btn:focus {
  box-shadow: 0 0 0 0.2rem rgba(236, 54, 141, .25);
}

@media (min-width: 768px) {
  .tab-content>.tab-pane {
    display: block !important;
  }
}

/* RESTAURANT DETAIL CONTAINER */

#restDetails {
  width: 59%;
  position: fixed;
  top: 0;
  left: -59%;
  height: 100vh;
  z-index: 1040;
  background: white;
  transition: all 0.3s;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  padding: 1.5em;
}

#restScrollDetails {
  height: 70vh;
  overflow-y: auto;
  overflow-x: hidden;
}

#restDetails.active {
  left: 0;
}

.overlay {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1035;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.overlay.active {
  display: block;
  opacity: 1;
}

#reviewRow, #imageRow {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.reviewRating {
  color: #EC368D
}

.review-list-item {
  padding: 0 !important;
}

.review-list-item h5 {
  text-transform: capitalize;
}

.review-list-item p {
  margin-bottom: 0.5rem;
}

#restDetails .btn.btn-outline-primary {
  color: #EC368D;
  border-color: #EC368D;
  border-width: 2px;
  font-weight: 600;
}

#restDetails .btn.btn-outline-primary:hover {
  background-color: #EC368D;
  color: white;
}

#imageRow {
  overflow-x: auto;
}

@media (max-width: 767px) {
  #restDetails {
    width: 100%;
    left: 100%;
  }
}

/* RATING MODAL STYLE */

.star-rating {
  color: #1B998B;
}

.modal-footer, .modal-header {
  border-bottom: none !important;
  border-top: none !important;
}

.modal-header .close {
  font-size: 2em;
  color: #9C0D38 !important;
}

.modal-header .close:hover {
  color: #9C0D38 !important;
  opacity: 1 !important;
}

#reviewModal .form-label, #restaurantModal .form-label {
  text-align: right !important;
}

@media (max-width: 767px) {
  #reviewModal .form-label, #restaurantModal .form-label {
    text-align: left !important;
  }
}

/* BUTTON STYLE */

.btn.btn-primary, .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle, .btn-primary.focus, .btn-primary:focus {
  background-color: #9C0D38;
  border-color: #9C0D38;
}

.btn.btn-primary:hover {
  background-color: #EC368D !important;
  border-color: #EC368D !important;
}

.btn-outline-primary.focus, .btn-outline-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(236, 54, 141, .25) !important;
}

.btn-primary.focus, .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(236, 54, 141, .25) !important;
  background-color: #9C0D38 !important;
  border-color: #9C0D38 !important;
}